extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#') Simple Pict.
  #main
    //- .container
      //- .row.wrapper
      //-   .col-md-6
      //-     #canvas1.mx-auto
      //-   .col-md-6.card
      //-     .card-body
      //-       h4.card-title Pallet
      //-       #pallet
      //-       h4.card-title Tools
      //-       button.btn.btn-primary(type='button') 塗りつぶし
      //-       button.btn.btn-primary(type='button') 塗りつ回転ぶし
      //-       button.btn.btn-primary(type='button') undo
      //-       button.btn.btn-primary(type='button') 上下反転
      //-       button.btn.btn-primary(type='button') クリア
  script(type='text/javascript', src='bundle.js')